<div class="container jumbotron">
    <div class="panel-heading">
        <div id="tablebox">
            <table id="editTable" class="table table-striped table-responsive">
                <h1 style="text-align: center;">Patients Details</h1>
                <tbody>
                    <tr>
                        <th scope="col">Lastname</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Amka</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                    </tr>
                    <td>{{details.lastName}}</td>
                    <td>{{details.firstName}}</td>
                    <td>{{details.amka}}</td>
                    <td>{{details.username}}</td>
                    <td>{{details.email}}</td>
                    <td>{{details.phone}}</td>

                </tbody>
            </table>
        </div>
    </div>


</div>