@import "~@angular/material/prebuilt-themes/indigo-pink.css";
#indexBody{
    background-image: url("assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
.mat-dialog-container {
    background-color: #e9ecef;
}