<h1>Welcome to EFKA appointment booking!</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" class="mx-auto d-block">
      <img id="laptop" src="../../../assets/images/efka_laptop.jpg">
    </div>
    <div class="col-md-4">
      <div id="login-register">
        <img id="userlogo" class="mx-auto d-block" src="../../../assets/images/user_logo.svg">
        <button [routerLink]="['/login']" class="btn btn-primary home-btn mx-auto d-block">Login</button>
        <button (click)="openRegisterDialog()" class="btn btn-primary home-btn mx-auto d-block">Register</button>
        <div *ngIf="alert">
        <div *ngIf="!message">
          <button class="btn btn-secondary alert mx-auto d-block" style="color:rgb(255, 0, 0)" disabled>Failed</button>
        </div>
        <div *ngIf="message">
          <button class="btn btn-secondary alert mx-auto d-block" style="color:rgb(0, 255, 34)" disabled>Success</button>
        </div>
      </div>
      </div>
    </div>
    <div id="login-cancel" class="col-md-4" class="mx-auto d-block">
      <img id="doctor" src="../../../assets/images/doctor.jpg">
    </div>
  </div>
</div>