<div class="container jumbotron">
    <div class="panel-heading">
        <div id="tablebox">
            <table id="editTable" class="table table-striped table-responsive">
                <h1 style="text-align: center;">Appointments Details</h1>
                <tbody>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Illness</th>
                        <th scope="col">Comments</th>
                    </tr>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                    <td>{{illness}}</td>
                    <td>{{comments}}</td>
                </tbody>
            </table>
        </div>
    </div>


</div>
