<app-user-template></app-user-template>
<div class="container">

    <div class="row container-fluid buttons rounded mx-auto">

        <div class="col-md-4 add">
            <img id="icons" src="../../../assets/images/add.svg" class="img-fluid">
            <br>
            <!-- (click)="openModal(addAppointmentModal); setDoctorsSpecialtys();" -->
            <button class="btn btn-info btn-lg" (click)="openNewAppointmentDialog()">New
                Appointment</button>
        </div>

        <div class="col-md-4 search">
            <img id="icons" src="../../../assets/images/search_icon.svg" class="img-fluid">
            <br>
            <button class="btn btn-info btn-lg" (click)="openModal(searchAppointmentModal); setDoctorsSpecialtys();">My
                Appointments</button>
        </div>
        <div class="col-md-4 edit">
            <img id="icons" src="../../../assets/images/settings_icon.svg" class="img-fluid">
            <br>
            <button [routerLink]="['/userhomepage/edit']" class="btn btn-info btn-lg">Edit Appointments</button>
        </div>
    </div>
    <div class="container">
        <img id="bodyimg" src="../../../assets/images/cover.jpg" class="img-fluid rounded mx-auto d-block">
    </div>
    <div class="loadWrapper"  *ngIf="loading">  
        <div class="loader"></div>  
      </div>
</div>
<!-- ----------------------------------------------------NEW APPOINTMENT MODAL----------------------------------------------------- -->
<ng-template #addAppointmentModal>
    <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">New Appointment</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form #newAppointmentForm="ngForm" name="form" (ngSubmit)="newAppointmentForm.form.valid && newAppointment(newAppointmentForm)"
                novalidate>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="doctorSpecialty">
                            Doctor's Specialty
                        </label>
                        <select class="form-control" id="doctorSpecialty" name="doctorSpecialty" (change)="selectedDoctorSpecialty($event)"
                            #doctorSpecialty="ngModel" [ngClass]="{'is-invalid': newAppointmentForm.submitted && doctorSpecialty.invalid}"
                            ngModel required>
                            <option disabled></option>
                            <option *ngFor="let spe of docSpecialty">{{spe.name}}</option>
                        </select>
                        <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="doctorName">
                            Doctor's Name
                        </label>
                        <select class="form-control" id="doctorName" name="doctorName" #doctorName="ngModel" [ngClass]="{'is-invalid': newAppointmentForm.submitted && doctorName.invalid}"
                            ngModel required>
                            <option disabled></option>
                            <option *ngFor="let doc of docName">{{doc.lastName}}</option>
                        </select>
                        <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-md-6">
                    <label for="appointmentDate">
                        Appointment Date
                    </label>
                    <input autocomplete="off" class="form-control" id="appointmentDate" type="text" bsDatepicker [bsConfig]="datePickerConfig"
                        name="appointmentDate" #appointmentDate="ngModel" [ngClass]="{'is-invalid': newAppointmentForm.submitted && appointmentDate.invalid}"
                        ngModel required />
                    <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="appointmentTime">
                        Appointment Time
                    </label>
                    <ngb-timepicker id="appointmentTime" name="appointmentTime" #appointmentTime="ngModel" [ngClass]="{'is-invalid': newAppointmentForm.submitted && appointmentTime.invalid}"
                        ngModel required></ngb-timepicker>
                    <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                </div>
            </div>
                <div class="form-group">
                    <label for="description">Short Description of Illness</label>
                    <textarea class="form-control" rows="4" id="description" name="description" #description="ngModel"
                        [ngClass]="{'is-invalid': newAppointmentForm.submitted && description.invalid}" ngModel
                        required></textarea>
                    <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                </div>
                <div class="form-group">
                    <label for="remarks">Other Remarks</label>
                    <textarea class="form-control" rows="4" id="remarks" name="remarks" ngModel></textarea>
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</ng-template>
<!-- -------------------------------------------------------------SEARCH APPOINTMENT MODAL------------------------------------------------------------>
<ng-template #searchAppointmentModal>
    <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Search Appointment</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #searchAppointmentForm="ngForm" name="form" (ngSubmit)="searchAppointmentForm.form.valid && searchAppointment(searchAppointmentForm)"
            novalidate>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="doctorSpecialty">
                        Doctor's Specialty
                    </label>
                    <select class="form-control" id="doctorSpecialty" name="doctorSpecialty" #doctorSpecialty="ngModel"
                        [ngClass]="{'is-invalid': searchAppointmentForm.submitted && doctorSpecialty.invalid}" ngModel
                        required>
                        <option disabled></option>
                        <option *ngFor="let spe of docSpecialty">{{spe.name}}</option>
                    </select>
                    <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="appointmentDate">
                        Appointment Date
                    </label>
                    <input autocomplete="off" class="form-control" id="appointmentDate" type="text" bsDaterangepicker [bsConfig]="datePickerConfig"
                        name="appointmentDate" #appointmentDate="ngModel" [ngClass]="{'is-invalid': searchAppointmentForm.submitted && appointmentDate.invalid}"
                        ngModel required />
                    <div class="invalid-feedback">Είναι υποχρεωτικό</div>
                </div>
            </div>
            <div class="container">
                <button id="submit" type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">Doctor's Specialty</th>
                    <th scope="col">Doctor's Name</th>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Appointment Time</th>
                    <th scope="col">Short Description of Illness</th>
                    <th scope="col">Other Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let app of appointment">
                    <td>{{app.doctor.specialty.name}}</td>
                    <td>{{app.doctor.lastName}}</td>
                    <td>{{app.date}}</td>
                    <td>{{app.time}}</td>
                    <td>
                        <ng-template #popContentDescr>{{app.illness}}</ng-template>
                        <ng-template #popDescr>Description</ng-template>
                        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContentDescr"
                            [popoverTitle]="popDescr">
                            Click in..
                        </button>
                    </td>
                    <td>
                        <ng-template #popContentOther>{{app.comments}}</ng-template>
                        <ng-template #popOther>Other Remarks</ng-template>
                        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContentOther"
                            [popoverTitle]="popOther">
                            Click in..
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="noResults" style="text-align:center; color:red;">
                <h1>No Results</h1>
            </div>
    </div>
</ng-template>