<div class="container jumbotron">
    <div class="panel-heading">
        <table>
            <tr>
                <th scope="col">Operations</th>
                <th scope="col">Doctor's Specialty</th>
                <th scope="col">Doctor's Name</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Time</th>
                <th scope="col">Short Description of Illness</th>
                <th scope="col">Other Remarks</th>
            </tr>
        </table>
        <div id="tablebox">
            <table id="editTable" class="table table-striped table-responsive">

                <tbody>
                    <tr *ngFor="let app of appointments">
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="deleteAppointment(app)"><img id="icons"
                                    src="../../../assets/images/delete_icon.svg"></button>
                            <button class="btn btn-primary btn-sm" (click)="openModal(updateAppointmentModal, app)"><img
                                    id="icons" src="../../../assets/images/update_icon.svg"></button>
                        </td>
                        <td>{{app.doctor.specialty.name}}</td>
                        <td>{{app.doctor.lastName}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.time}}</td>
                        <td>
                            <ng-template #popContentDescr>{{app.illness}}</ng-template>
                            <ng-template #popDescr>Description</ng-template>
                            <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContentDescr"
                                [popoverTitle]="popDescr">
                                Click in..
                            </button>
                        </td>
                        <td>
                            <ng-template #popContentOther>{{app.comments}}</ng-template>
                            <ng-template #popOther>Other Remarks</ng-template>
                            <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContentOther"
                                [popoverTitle]="popOther">
                                Click in..
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a [routerLink]="['/userhomepage']" class="btn btn-link">Cancel</a>

</div>
<!-- ----------------------------------------------------UPDATE APPOINTMENT MODAL----------------------------------------------------- -->
<ng-template #updateAppointmentModal>
    <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Appointment</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateAppointmentForm="ngForm" name="form" [ngFormOptions]="{ updateOn: 'submit' }" (ngSubmit)="updateAppointment(updateAppointmentForm)">
            <div class="form-group">
                <label for="doctorSpecialty">
                    Doctor's Specialty
                </label>
                <select class="form-control" id="doctorSpecialty" name="doctorSpecialty" (change)="selectedDoctorSpecialty($event)"
                    #doctorSpecialty="ngModel" [ngClass]="{'is-invalid': updateAppointmentForm.submitted && doctorSpecialty.invalid}"
                    [(ngModel)]="selectedAppointment.doctor.specialty.name" required>
                    <option *ngFor="let spe of docSpecialty" [value]="spe.name">{{spe.name}}</option>
                </select>
                <!-- <div class="invalid-feedback">Είναι υποχρεωτικό</div> -->
            </div>
            <div class="form-group">
                <label for="doctorName">
                    Doctor's Name
                </label>
                <select class="form-control" id="doctorName" name="doctorName" [ngClass]="{'is-invalid': updateAppointmentForm.submitted && doctorName.invalid}"
                    [(ngModel)]="selectedAppointment.doctor.lastName" #doctorName="ngModel" required>
                    <option disabled></option>
                    <option *ngFor="let doc of docName" [value]="doc.lastName">{{doc.lastName}}</option>
                </select>
                <!-- <div class="invalid-feedback">Είναι υποχρεωτικό</div> -->
            </div>
            <div class="form-group">
                <label for="appointmentDate">
                    Appointment Date
                </label>
                <input class="form-control" id="appointmentDate" type="text" bsDatepicker [bsConfig]="datePickerConfig"
                    name="appointmentDate" #appointmentDate="ngModel" [ngClass]="{'is-invalid': updateAppointmentForm.submitted && appointmentDate.invalid}"
                    [(ngModel)]="selectedAppointment.date" #doctorNappointmentDate="ngModel" required />
                <!-- <div class="invalid-feedback">Είναι υποχρεωτικό</div> -->
            </div>
            <div class="form-group">
                <label for="appointmentTime">
                    Appointment Time
                </label>
                <ngb-timepicker id="appointmentTime" name="appointmentTime" [ngClass]="{'is-invalid': updateAppointmentForm.submitted && appointmentTime.invalid}"
                    [(ngModel)]="selectedAppointment.time" #appointmentTime="ngModel" required></ngb-timepicker>
                <!-- <div class="invalid-feedback">Είναι υποχρεωτικό</div> -->
            </div>
            <div class="form-group">
                <label for="description">Short Description of Illness</label>
                <textarea class="form-control" rows="4" id="description" name="description" #description="ngModel"
                    [ngClass]="{'is-invalid': updateAppointmentForm.submitted && description.invalid}" [(ngModel)]="selectedAppointment.illness"
                    required></textarea>
                <div class="invalid-feedback">Είναι υποχρεωτικό</div>
            </div>
            <div class="form-group">
                <label for="remarks">Other Remarks</label>
                <textarea class="form-control" rows="4" id="remarks" name="remarks" [(ngModel)]="selectedAppointment.comments"></textarea>
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>