<nav class="navbar navbar-dark bg-info container-fluid">
  <div class="row container-fluid">
      <div class="col-sm-7">
        <a class="navbar-brand">
            <img src="../../../assets/images/efka_logo.jpg" width="30%" height="30%" alt="">
        </a>
      </div>
      <div class="col-sm-3">
        <span id="navtext" class="navbar-text">
            Welcome to EFKA , Dr House
        </span>
      </div>
      <div class="col-sm-2">
        <span>
          <button id="navbtn" type="submit" class="btn btn-info" (click)="logout()">Logout</button>
        </span> 
      </div>
  </div> 
</nav>

<div class="container">
   <img id="bodyimg" src="../../../assets/images/doctorpage_cover.jpg" class="img-fluid">
</div>

<div id="bottom-search-bar" class="row container-fluid mx-auto">
   
  <div id="search-date" class="col-md-3 edit">
    <label for="appointmentDate">
    <h5>Appointment Date</h5>
    </label><br><br>
    <input class="form-control" id="appointmentDate" type="text" bsDatepicker [bsConfig]="datePickerConfig" name="appointmentDate" #appointmentDate="ngModel" [ngClass]="{'is-invalid': newAppointmentForm.submitted && appointmentDate.invalid}" ngModel required/>
    <div class="invalid-feedback">Είναι υποχρεωτικό</div>
  </div>

  <div id="search-input"class="col-md-3 edit">
    <label for="illnessType">
    <h5>Illness Type</h5>
    </label><br><br>
    <input type="text" class="form-control">
  </div>
  
  <div id="search-button" class="col-md-3 edit">
    <img id="icon" src="../../../assets/images/search_icon.svg" class="img-fluid"><br>
    <button class="btn btn-info btn-lg">Search Appointments</button>
  </div>
  
</div>